{% extends "../base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="header">

<div id="toplink">
[<a href="/" rel="_top">回首頁</a>] [<a href="/search/index">搜尋</a>]   [<a href="/status/index">系統資訊</a>] [<a href="/admin/index">管理區</a>] [<a href="/">重新整理</a>]

</div>

<br />
<h1>{{title}}</h1>
<hr class="top" />
</div>

<form action="/post/new" method="post" enctype="multipart/form-data" onsubmit="return c();" id="postform_main">
<div id="postform">

[<span id="show" class="hide" onmouseover="showform();" onclick="showform();">投稿</span><span id="hide" class="show" onmouseover="hideform();" onclick="hideform();">隱藏表單</span>]
<input type="hidden" name="mode" value="regist" />
<input type="hidden" name="MAX_FILE_SIZE" value="2048000" />

<input type="hidden" name="upfile_path" value="" />

<div style="text-align: center;">
<table cellpadding="1" cellspacing="1" id="postform_tbl" style="margin: 0px auto; text-align: left;">
<tr><td class="Form_bg"><b>名 稱</b></td><td><input type="text" name="name" id="fname" size="28" value="" /></td></tr>
<tr><td class="Form_bg"><b>E-mail</b></td><td><input type="text" name="email" id="femail" size="28" value="" /></td></tr>
<tr><td class="Form_bg"><b>標 題</b></td><td><input type="text" name="sub" id="fsub" size="28" value="" /><input type="submit" name="sendbtn" value="送 出" /></td></tr>
<tr><td class="Form_bg"><b>內 文</b></td><td><textarea name="com" id="fcom" cols="48" rows="4" style="width: 400px; height: 80px;"></textarea></td></tr>
<tr><td class="Form_bg"><b>附加圖檔</b></td><td><input type="file" name="upfile" id="fupfile" size="25" /><input class="hide" type="checkbox" name="reply" value="yes" />[<input type="checkbox" name="noimg" id="noimg" value="on" /><label for="noimg">無貼圖</label>]
[<input type="checkbox" name="up_series" id="up_series" value="on" /><label for="up_series">連貼機能</label>]

</td></tr>
<tr><td class="Form_bg"><b>類別標籤</b></td><td><input type="text" name="category" size="28" value="" /><small>(請以 , 逗號分隔多個標籤)</small></td></tr>
<tr><td class="Form_bg"><b>刪除用密碼</b></td><td><input type="password" name="pwd" size="8" maxlength="8" value="" /><small>(刪除文章用。英數字8字元以內)</small></td></tr>

<tr><td colspan="2">
<div id="postinfo">
<ul><li>此服務可以接受 JPEG、PNG、GIF (包括動畫 GIF)、BMP、TIFF 以及 ICO 格式的影像資料</li><li>附加圖檔最大上傳資料量為 1 MB。當回文時E-mail填入sage為不推文功能</li><li>當檔案超過寬 250 像素、高 250 像素時會自動縮小尺寸顯示</li>
<li>目前附加圖檔使用量大小： 75 KB / 30000 KB</li>

</ul>
<noscript><div>＊您選擇關閉了JavaScript，但這對您的瀏覽及發文應無巨大影響</div></noscript>
</div>
</td></tr>
</table>
</div>
<script type="text/javascript">l1();</script>
<hr />
</div>
</form>
<script type="text/javascript">hideform();</script>

<div id="contents">

<form action="pixmicat.php" method="post">
<div id="threads" class="autopagerize_page_element">

<div class="threadpost" id="r2">
檔名：<a href="1274512332543.png" rel="_blank">1274512332543.png</a>-(66 KB, 600x600) <small>[以預覽圖顯示]</small><br /><a href="1274512332543s.jpg" style="width: 250px; height: 250px;" class="img" alt="66 KB" title="66 KB" /></a><input type="checkbox" name="2" value="delete" /><span class="title">ssddff</span>
名稱: <span class="name"><a href="mailto:111">test</a></span> [10/05/22(六)15:12 ID:IP1sWchY] <a href="pixmicat.php?res=2#q2" class="qlink">No.2</a>&nbsp;[<a href="pixmicat.php?res=2">回應</a>]

<div class="quote">sxxdss</div>

</div>

<div class="reply" id="r4">
<input type="checkbox" name="4" value="delete" /><span class="title">sss</span> 名稱: <span class="name">12345</span> [10/08/11(三)16:54 ID:JgCD3CUk] <a href="pixmicat.php?res=2#q4" class="qlink">No.4</a> &nbsp; 
<div class="quote">sssssss</div>

</div>

<div class="reply" id="r5">
<input type="checkbox" name="5" value="delete" /><span class="title">無標題</span> 名稱: <span class="name"><a href="mailto:sage">12345</a></span> [10/08/11(三)16:56 ID:JgCD3CUk] <a href="pixmicat.php?res=2#q5" class="qlink">No.5</a> &nbsp; 
<div class="quote">xxxxx</div>

</div>

<hr />

<div class="threadpost" id="r3">
<input type="checkbox" name="3" value="delete" /><span class="title">xxx</span>
名稱: <span class="name">12345</span> [10/08/11(三)14:36 ID:JgCD3CUk] <a href="pixmicat.php?res=3#q3" class="qlink">No.3</a>&nbsp;[<a href="pixmicat.php?res=3">回應</a>]
<div class="quote">xxxx</div>

</div>

<hr />

<div class="threadpost" id="r1">
<input type="checkbox" name="1" value="delete" /><span class="title">無標題</span>
名稱: <span class="name">無名氏</span> [05/01/01(六)00:00] <a href="pixmicat.php?res=1#q1" class="qlink">No.1</a>&nbsp;[<a href="pixmicat.php?res=1">回應</a>]
<div class="quote">無內文</div>

</div>

<hr />

</div>


<div id="del">
<table style="float: right;">
<tr><td align="center" style="white-space: nowrap;">
<input type="hidden" name="mode" value="usrdel" />【刪除文章】[<input type="checkbox" name="onlyimgdel" id="onlyimgdel" value="on" /><label for="onlyimgdel">僅刪除附加圖檔</label>]<br />
刪除用密碼: <input type="password" name="pwd" size="8" value="" /><input type="submit" value=" 執行 " />

</td></tr>
</table>
</div>

<script type="text/javascript">l2();</script>
</form>
<div id="page_switch"><table border="1"><tr><td style="white-space: nowrap;">第一頁</td><td>[<b>0</b>] </td><td style="white-space: nowrap;">最後一頁</td></tr></table>
<br style="clear: left;" />
</div>
</div>

<div id="footer">
{% include "../footer.html" %}
</div>

{% endblock %}