{# THEMENAME: futaba Theme #}
{# THEMEVER: v20110703 #}
{# THEMEAUTHOR: Pixmicat! Development Team #}
{# GAETHEMEAUTHOR: Eric Chen #}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-tw">
<head>
{% block head %}
<meta http-equiv="Cache-Control" content="max-age=0; must-revalidate" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-tw" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/statics/css/mainstyle.css" />
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
</body>
</html>