<div id="footer">
<!-- pixmicat-gae --><small>- <a href="http://code.google.com/p/pixmicat-gae/" rel="_blank">pixmicat-gae</a> -</small><br />
<small>Original Theme from:</small>
<!-- GazouBBS v3.0 --><!-- ふたば改0.8 --><!-- Pixmicat! --><small>- <a href="http://php.s3.to" rel="_top">GazouBBS</a> + <a href="http://www.2chan.net/" rel="_top">futaba</a> + <a href="http://pixmicat.openfoundry.org/" rel="_blank">Pixmicat!</a> -</small>
<br /><img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" />
<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="fshiori@gmail.com">
<input type="hidden" name="item_name" value="pixmicat-gae">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="amount" value="">
<input type="image" src="http://www.paypal.com/zh_XC/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
<script type="text/javascript">preset();</script>
</div>