<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-tw">
    <head>
        <meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="Sat, 1 Jan 2000 00:00:00 GMT" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="zh-tw" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/mainstyle.css" />
		<script type="text/javascript">
		// <![CDATA[
		var msgs=['在沒有附加圖檔的情況下，請寫入內文','附加圖檔為系統不支援的格式','偵測到您有輸入櫻花日文假名的可能性，將自動為您轉換'];
		var ext="GIF|JPG|PNG|BMP|SWF".toUpperCase().split("|");
		// ]]>
		</script>
		<script type="text/javascript" src="/js/mainscript.js"></script>
		
		<!--[if IE]><script type="text/javascript" src="/js/iedivfix.js"></script><![endif]-->        
    </head>
    <body>
<div id="header">

<div id="toplink">
[<a href="/" rel="_top">回首頁</a>] [<a href="/search/index">搜尋</a>]   [<a href="/status/index">系統資訊</a>] [<a href="/admin/index">管理區</a>] [<a href="/">重新整理</a>]

</div>
        {% block content %}{% endblock %}
    </body>
</html>
