{% extends "../base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<br />
<h1>{{title}}</h1>
<hr class="top" />
</div>

<form action="/post/reply/{{key}}" method="post" enctype="multipart/form-data" onsubmit="return c();" id="postform_main">
<div id="postform">
[<a href="/">回到版面</a>]<div class="bar_reply">回應模式</div>
<input type="hidden" name="mode" value="regist" />
<input type="hidden" name="MAX_FILE_SIZE" value="2048000" />

<input type="hidden" name="upfile_path" value="" />
<input type="hidden" name="resto" value="4" />
<div style="text-align: center;">
<table cellpadding="1" cellspacing="1" id="postform_tbl" style="margin: 0px auto; text-align: left;">
<tr><td class="Form_bg"><b>名 稱</b></td><td><input type="text" name="name" id="fname" size="28" value="" /></td></tr>
<tr><td class="Form_bg"><b>E-mail</b></td><td><input type="text" name="email" id="femail" size="28" value="" /></td></tr>
<tr><td class="Form_bg"><b>標 題</b></td><td><input type="text" name="sub" id="fsub" size="28" value="" /><input type="submit" name="sendbtn" value="送 出" /></td></tr>
<tr><td class="Form_bg"><b>內 文</b></td><td><textarea name="com" id="fcom" cols="48" rows="4" style="width: 400px; height: 80px;"></textarea></td></tr>
<tr><td class="Form_bg"><b>附加圖檔</b></td><td><input type="file" name="upfile" id="fupfile" size="25" /><input class="hide" type="checkbox" name="reply" value="yes" />[<input type="checkbox" name="noimg" id="noimg" value="on" /><label for="noimg">無貼圖</label>]
[<input type="checkbox" name="up_series" id="up_series" value="on" /><label for="up_series">連貼機能</label>]

</td></tr>
<tr><td class="Form_bg"><b>類別標籤</b></td><td><input type="text" name="category" size="28" value="" /><small>(請以 , 逗號分隔多個標籤)</small></td></tr>
<tr><td class="Form_bg"><b>刪除用密碼</b></td><td><input type="password" name="pwd" size="8" maxlength="8" value="" /><small>(刪除文章用。英數字8字元以內)</small></td></tr>

<tr><td colspan="2">
<div id="postinfo">
<ul><li>可附加圖檔類型：GIF, JPG, PNG, BMP, SWF，瀏覽器才能正常附加圖檔</li><li>附加圖檔最大上傳資料量為 2000 KB。當回文時E-mail填入sage為不推文功能</li><li>當檔案超過寬 125 像素、高 125 像素時會自動縮小尺寸顯示</li>
<li>目前附加圖檔使用量大小： 97 KB / 30000 KB</li>

</ul>
<noscript><div>＊您選擇關閉了JavaScript，但這對您的瀏覽及發文應無巨大影響</div></noscript>
</div>
</td></tr>
</table>
</div>
<script type="text/javascript">l1();</script>
<hr />
</div>
</form>


<div id="contents">

<form action="pixmicat.php" method="post">
<div id="threads" class="autopagerize_page_element">

<div class="threadpost" id="r4">
檔名：<a href="http://192.168.2.60/pixmicat/src/1302120212503.jpg" rel="_blank">1302120212503.jpg</a>-(84 KB, 300x300) <br /><a href="http://192.168.2.60/pixmicat/src/1302120212503.jpg" rel="_blank"><img src="nothumb.gif" class="img" alt="84 KB" title="84 KB" /></a><input type="checkbox" name="4" value="delete" /><span class="title">無標題</span>
名稱: <span class="name">1</span> [11/04/07(四)04:03 ID:DyzKgTas] <a href="javascript:quote(4);" class="qlink">No.4</a>&nbsp;
<div class="quote">無內文</div>

</div>

<hr />

</div>


<div id="del">
<table style="float: right;">
<tr><td align="center" style="white-space: nowrap;">
<input type="hidden" name="mode" value="usrdel" />【刪除文章】[<input type="checkbox" name="onlyimgdel" id="onlyimgdel" value="on" /><label for="onlyimgdel">僅刪除附加圖檔</label>]<br />
刪除用密碼: <input type="password" name="pwd" size="8" value="" /><input type="submit" value=" 執行 " />

</td></tr>
</table>
</div>

<script type="text/javascript">l2();</script>
</form>
<div id="page_switch"><table border="1"><tr><td style="white-space: nowrap;">第一頁</td><td>[<b>0</b>] </td><td style="white-space: nowrap;">最後一頁</td></tr></table>
<br style="clear: left;" />
</div>
</div>



<div id="footer">
{% include "../footer.html" %}
</div>

{% endblock %}
